In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset, columns=['sex'], prefix="sex",dtype=int)
dataset = pd.get_dummies(dataset, columns=['smoker'], prefix="smoker",dtype=int)
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [4]:
independent=dataset[['age', 'bmi', 'children','sex_female', 'sex_male',
       'smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
!pip install xgboost

Collecting xgboost
  Obtaining dependency information for xgboost from https://files.pythonhosted.org/packages/24/ec/ad387100fa3cc2b9b81af0829b5ecfe75ec5bb19dd7c19d4fea06fb81802/xgboost-2.0.3-py3-none-win_amd64.whl.metadata
  Downloading xgboost-2.0.3-py3-none-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in c:\users\shami\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\shami\anaconda3\lib\site-packages (from xgboost) (1.11.1)
Downloading xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
   ---------------------------------------- 0.0/99.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/99.8 MB ? eta -:--:--
   ---------------------------------------- 0.2/99.8 MB 2.9 MB/s eta 0:00:35
   ---------------------------------------- 0.6/99.8 MB 5.1 MB/s eta 0:00:20
   ---------------------------------------- 1.2/99.8 MB 7.4 MB/s eta 0:00:14
    --------------------------------------- 1.9/99.8 MB 9.1 MB/s eta 0:00:11
   - -------------------------------------- 2.7/99.8 MB 10.9 MB/s eta 0:00:09
   - -------------------------------------- 3.9/99.8 MB 13.0 MB/s eta 0:00:08
   -- ------------------------------------- 5.1/99.8 MB 14.7 MB/s eta 0:00:07
   -- ------------------------------------- 6.6/99.8 MB 16.8 MB/s eta 0:00:06
   --- ------------------------------------ 8.4/99.8 MB 19.1 MB/s eta 0:00:05
   ---- ----------------------------------- 10.2/99.8 MB 21.1 MB/s eta 0:00:05
   ---- ----------------------------------- 12.5/99.8 MB 32.7 MB/s eta 0:00:03
   ------ --------------------------------- 15.0/99.8 MB 40.9 MB/s eta 0:00:03
   ------- -------------------------------- 17.8/99.8 MB 46.9 MB/s eta 0:00:02
   ------- -------------------------------- 19.5/99.8 MB 46.9 MB/s eta 0:00:02
   -------- ------------------------------- 20.6/99.8 MB 46.7 MB/s eta 0:00:02
   -------- ------------------------------- 21.2/99.8 MB 38.5 MB/s eta 0:00:03
   --------- ------------------------------ 23.4/99.8 MB 36.4 MB/s eta 0:00:03
   ---------- ----------------------------- 25.3/99.8 MB 36.4 MB/s eta 0:00:03
   ----------- ---------------------------- 27.5/99.8 MB 36.4 MB/s eta 0:00:02
   ----------- ---------------------------- 29.2/99.8 MB 34.4 MB/s eta 0:00:03
   ------------ --------------------------- 30.9/99.8 MB 40.9 MB/s eta 0:00:02
   ------------- -------------------------- 32.7/99.8 MB 43.5 MB/s eta 0:00:02
   ------------- -------------------------- 34.6/99.8 MB 43.7 MB/s eta 0:00:02
   -------------- ------------------------- 36.2/99.8 MB 40.9 MB/s eta 0:00:02
   --------------- ------------------------ 37.8/99.8 MB 40.9 MB/s eta 0:00:02
   --------------- ------------------------ 39.7/99.8 MB 40.9 MB/s eta 0:00:02
   ---------------- ----------------------- 41.3/99.8 MB 40.9 MB/s eta 0:00:02
   ----------------- ---------------------- 43.2/99.8 MB 43.5 MB/s eta 0:00:02
   ------------------ --------------------- 45.1/99.8 MB 40.9 MB/s eta 0:00:02
   ------------------ --------------------- 46.9/99.8 MB 43.5 MB/s eta 0:00:02
   ------------------- -------------------- 48.8/99.8 MB 43.5 MB/s eta 0:00:02
   -------------------- ------------------- 50.9/99.8 MB 40.9 MB/s eta 0:00:02
   --------------------- ------------------ 52.6/99.8 MB 40.9 MB/s eta 0:00:02
   --------------------- ------------------ 54.5/99.8 MB 40.9 MB/s eta 0:00:02
   ---------------------- ----------------- 56.1/99.8 MB 43.5 MB/s eta 0:00:02
   ----------------------- ---------------- 58.3/99.8 MB 43.7 MB/s eta 0:00:01
   ----------------------- ---------------- 59.5/99.8 MB 43.5 MB/s eta 0:00:01
   ------------------------ --------------- 61.6/99.8 MB 40.9 MB/s eta 0:00:01
   ------------------------- -------------- 63.4/99.8 MB 40.9 MB/s eta 0:00:01
   -------------------------- ------------- 65.0/99.8 MB 38.5 MB/s eta 0:00:01
   -------------------------- ------------- 66.8/99.8 MB 40.9 MB/s eta 0:00:01
   --------------------------- ------------ 68.5/99.8 MB 40.9 MB/s eta 0:00:01
   ---------------------------- ----------- 70.2/99.8 MB 40.9 MB/s eta 0:00:01
   ---------------------------- ----------- 71.8/99.8 MB 38.6 MB/s eta 0:00:01
   ----------------------------- ---------- 73.0/99.8 MB 38.5 MB/s eta 0:00:01
   ------------------------------ --------- 74.9/99.8 MB 40.9 MB/s eta 0:00:01
   ------------------------------ --------- 77.0/99.8 MB 38.5 MB/s eta 0:00:01
   ------------------------------- -------- 79.2/99.8 MB 40.9 MB/s eta 0:00:01
   -------------------------------- ------- 81.3/99.8 MB 40.9 MB/s eta 0:00:01
   --------------------------------- ------ 83.7/99.8 MB 46.9 MB/s eta 0:00:01
   ---------------------------------- ----- 86.0/99.8 MB 46.9 MB/s eta 0:00:01
   ----------------------------------- ---- 88.4/99.8 MB 46.7 MB/s eta 0:00:01
   ----------------------------------- ---- 89.8/99.8 MB 46.9 MB/s eta 0:00:01
   ------------------------------------ --- 92.2/99.8 MB 46.9 MB/s eta 0:00:01
   ------------------------------------- -- 93.8/99.8 MB 43.7 MB/s eta 0:00:01
   -------------------------------------- - 95.0/99.8 MB 43.7 MB/s eta 0:00:01
   -------------------------------------- - 96.8/99.8 MB 40.9 MB/s eta 0:00:01
   ---------------------------------------  98.2/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  99.7/99.8 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------- 99.8/99.8 MB 16.4 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3

In [12]:
import xgboost as xgb
regressor= xgb.XGBRegressor()
regressor=regressor.fit(X_train,Y_train)

In [13]:
Y_pred=regressor.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,Y_pred)
r_score

0.8213337154158369

In [15]:
import pickle
filename="Finalized_multilinear_model.sav"
filename=pickle.dump(regressor,open(filename,'wb'))

In [16]:
loaded_model=pickle.load(open("Finalized_multilinear_model.sav",'rb'))
result=loaded_model.predict([[28,30.097,0,1,0,0,1]])
result

array([37714.113], dtype=float32)